body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Organiza em coluna */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh;
    background-color: #f4f4f9;
}

/* Logo acima do bloco */
.logo-container {
    margin-top: 100px;
    margin-bottom: 20px; /* Espaço entre a logo e o bloco */
    margin-bottom: 50px;
}

.logo {
    width: 570px; /* Ajusta o tamanho da logo */
}

/* Bloco de login */
.login-container {
    width: 510px;
    height: 250px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza os campos verticalmente */
    align-items: center; /* Centraliza os campos horizontalmente */
}

.login-form {
    width: 100%; /* Formulário ocupa toda a largura do bloco */
    display: flex;
    flex-direction: column;
}

/* Campos de entrada */
.form-group {
    margin-bottom: 20px;
    width: 100%; /* Campos ocupam toda a largura */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botões */
.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Botões ocupam toda a largura do formulário */
}

.btn {
    flex: 1;
    padding: 12px 0;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Espaço entre os botões */
    transition: background-color 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
}

.btn {
    background-color: #6c757d; /* Azul UFSM */
}

.btn-secondary {
    background-color: #6c757d; /* Cinza secundário */
}
